{% assign id = "carousel-" + Model.ContentItem.Id %}
{% assign ride = Model.ContentItem.Content.Carousel.Ride.Value %}
{% assign wrap = Model.ContentItem.Content.Carousel.Wrap.Value %}
{% assign interval = Model.ContentItem.Content.Carousel.Interval.Value %}
{% assign keyboard = Model.ContentItem.Content.Carousel.Keyboard.Value %}
{% assign pause = Model.ContentItem.Content.Carousel.Pause.Value %}

<div id="{{ id }}" class="carousel slide carousel-fade" data-interval="{{ interval }}"{% if ride %} data-ride="carousel"{% endif %}{% if wrap == false %} data-wrap="false"{% endif %}{% if pause == false %} data-pause="false"{% endif %}{% if keyboard == false %} data-keyboard="false"{% endif %}>
    {% if Model.ContentItem.Content.Carousel.IncludeIndicators.Value %}
        <div class="carousel-indicators">
            {% assign slideTo = 0 %}
            {% for slide in Model.ContentItem.Content.Slides.ContentItems %}
                <button data-bs-target="#{{ id }}" data-bs-slide-to="{{ slideTo }}"{% if slideTo == 0 %} class="active"{% endif %}></button>
                {% assign slideTo = slideTo + 1 %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="carousel-inner">
        {% assign active = " active" %}
        {% for slide in Model.ContentItem.Content.Slides.ContentItems %}
            <div class="carousel-item{{active}}">
                <img{% if slide.Slide.ImageClass.Text.size > 0 %} class="d-block w-100"{% endif %} src="{{ slide.Slide.Image.Paths.first | asset_url }}"{% if slide.Slide.ImageAltText.Text.size > 0 %} alt="{{ slide.Slide.ImageAltText.Text }}"{% endif %}/>
                {% if slide.Slide.DisplayCaption.Value %}
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ slide.Slide.Caption.Html | raw }}</h5>
                    </div>
                {% endif %}
            </div>
            {% assign active = "" %}
        {% endfor %}
    </div>
    {% if Model.ContentItem.Content.Carousel.IncludeControls.Value %}
        <button class="carousel-control-prev" type="button" data-bs-target="{{ id }}" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"  data-bs-target="{{ id }}" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    {% endif %}
</div>